<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Usuário</ion-label>
      <ion-input type="text" [(ngModel)]="autenticacao.usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="autenticacao.senha"></ion-input>
    </ion-item>
  </ion-list>



    <ion-button expand="block" (click)="abrirPagina('dashboard')">Acessar</ion-button>
 
    <ion-button expand="block" (click)="abrirPagina('cadastro')">Cadastrar</ion-button>

</ion-content>